<!--
    David Haas
    11/2/20
    filename https://jumpstart.greenriverdev.com/playbook/JumpStart/includes/footer.html
    Displays SWOT analysis plan based on results
    Not implemented or ready at this time
  -->

<!doctype html>
<html lang="en">
<head>
    <title>SWOT Analysis</title>
    <include href="includes/header.html"></include>
</head>

<body>
<include href="includes/navBar.html"></include>

<div class="container">

    <!--Begin product and services section-->

    <div class="row border rounded p-2 mt-2">

        <h1>Product and Services</h1>
        <hr>

        <div class="col-12"></div>

        <div class="col">


            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chunhai</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>David</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Lewis</td>
                    <td>bob</td>
                    <td>@Facebook</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Roldan</td>
                    <td>yo</td>
                    <td>@Snap</td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>

    <!--begin what we stand for section-->

    <div class="row border rounded p-2 mt-2">

        <h1>What We Stand For</h1>
        <hr>

        <div class="col-12"></div>

        <div class="col">


            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chunhai</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>David</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Lewis</td>
                    <td>bob</td>
                    <td>@Facebook</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Roldan</td>
                    <td>yo</td>
                    <td>@Snap</td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>

    <!--Promotion-->

    <div class="row border rounded p-2 mt-2">

        <h1>Promotion</h1>
        <hr>

        <div class="col-12"></div>

        <div class="col">


            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chunhai</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>David</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Lewis</td>
                    <td>bob</td>
                    <td>@Facebook</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Roldan</td>
                    <td>yo</td>
                    <td>@Snap</td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>


    <!--begin Processes section-->

    <div class="row border rounded p-2 mt-2">

        <h1>Processes</h1>
        <hr>

        <div class="col-12"></div>

        <div class="col">


            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chunhai</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>David</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Lewis</td>
                    <td>bob</td>
                    <td>@Facebook</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Roldan</td>
                    <td>yo</td>
                    <td>@Snap</td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>


    <!--begin planning section-->

    <div class="row border rounded p-2 mt-2">

        <h1>Planning</h1>
        <hr>

        <div class="col-12"></div>

        <div class="col">


            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chunhai</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>David</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Lewis</td>
                    <td>bob</td>
                    <td>@Facebook</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Roldan</td>
                    <td>yo</td>
                    <td>@Snap</td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>


    <!--begin Other considerations section-->

    <div class="row border rounded p-2 mt-2">

        <h1>Other Considerations</h1>
        <hr>

        <div class="col-12"></div>

        <div class="col">


            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Chunhai</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>David</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Lewis</td>
                    <td>bob</td>
                    <td>@Facebook</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Roldan</td>
                    <td>yo</td>
                    <td>@Snap</td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>







</div>

<include href="includes/footer.html"></include>
</body>
</html>