<!--
  Lewis Scott
  10/17/20
  filename https://jumpstart.greenriverdev.com/playbook/JumpStart/views/home.html
  Home page view site
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Business Playbook</title>
    <!-- header -->
    <include href="includes/header.html"></include>

</head>
<body>

<!-- Navigation -->
<include href="includes/navBar.html"></include>

<div class="container mt-3">
    <div class="row">
        <div class="col-8">
            <img src="../JumpStart/images/Playbook.PNG" class="img-fluid" alt="Business that matters playbook">
            <div class="text-center ml-4">
                <h5 class="text-left">Strategic planning simplified</h5>
                <ul class="text-left">
                <li class="text-left">Answer a series of simple questions</li>
                <li>Conduct SWOT analysis
                    <ul class="text-left">
                        <li class="text-left">Strengths</li>
                        <li class="text-left">Weaknesses</li>
                        <li class="text-left">Threats</li>
                        <li class="text-left">Opportunities</li>
                    </ul>
                </li>
                    <li>Identify Strategic Focus and Priorities</li>
                    <li>Create Action plans for business improvements</li>
                </ul>
            </div>
        </div>
        <div class="col-4 btn-group-vertical btn-block">
            <h4 class="text-left">Sections</h4>
            <form action="section1" method="get">
                <button class="btn btn-block btn-center shadow-sm mb-1 home">PURPOSE</button>
            </form>
            <form action="section2" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">WHAT WE STAND FOR</button>
            </form>
            <form action="section3" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">PRODUCTS/SERVICES</button>
            </form>
            <form action="section4" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">PROMOTION</button>
            </form>
            <form action="section5" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">PROCESSES</button>
            </form>
            <form action="section6" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">PEOPLE</button>
            </form>
            <form action="section7" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">PLANNING</button>
            </form>
            <form action="section8" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">PERSONAL GROWTH</button>
            </form>
            <form action="section9" method="get">
                <button class="btn btn-center shadow-sm mb-1 home">OTHERS</button>
            </form>
        </div>
    </div>

    <br>
    <div class="col-8 ml-1">
        <form action="section1" method="get">
            <button class="btn btn-center shadow-sm" type="submit">GET STARTED</button>
        </form>
    </div>
</div>

<!-- footer -->
<include href="includes/footer.html"></include>

<!-- Bootstrap javascript
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
-->

</body>
</html>