<!--
  Chunhai Yang
  11/4/20
  JumpStart Team Project
  Questions for Section 8 Playbook analysis
  -->

<!doctype html>
<html lang="en">
<head>
    <title>Section 8</title>
    <require href="includes/check_login.php"></require>
    <include href="includes/header.html"></include>
</head>

<body onload="toggleVisibility()">
<include href="includes/navBar.html"></include>

<div class="container">
    <h1>Section 6: Personal Growth</h1>
    <hr>

    <form action="#" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-10">
                <!-- First Q of Section 8 -->
                <div class="container">
                    <label>Do you believe that your business will grow to the exent you do?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h1a" name="h1" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h1 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h1a" id="h1y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h1b" name="h1" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h1 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h1b" id="h1n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 8 -->
                <div class="container">
                    <label>Do you have a morning ritual to set yourself up for a productive day?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h2a" name="h2" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h2 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h2a" id="h2y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h2b" name="h2" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h2 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h2b" id="h2n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 8 -->
                <div class="container">
                    <label>Have you identified for yourself the areas in which you want to grow?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h3a" name="h3" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if=" {{ @h3 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h3a" id="h3y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h3b" name="h3" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h3 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h3b" id="h3n">No</label>
                    </div>
                </div>
                <!-- If the above answer is Yes, then next Q -->
                <div class="container pl-20 formatHidden" id="h3hi">
                    <label>Are you actively working to develop in those areas?</label>
                    <div class="container">
                        <div class="form-check-inline">
                            <input type="radio" id="h4a" name="h4" class="form-check-input" value="yes"
                                   onchange="toggleVisibility()"
                            <check if="{{ @h4 == 'yes' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="h4a" id="h4y">Yes</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="h4b" name="h4" class="form-check-input" value="no"
                                   onchange="toggleVisibility()"
                            <check if="{{ @h4 == 'no' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="h4b" id="h4n">No</label>
                        </div>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Do you manage your stress effectively?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h5a" name="h5" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h5 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h5a" id="h5y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h5b" name="h5" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h5 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h5b" id="h5n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Do you regularly feel grateful for the good in your life?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h6a" name="h6" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h6 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h6a" id="h6y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h6b" name="h6" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h6 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h6b" id="h6n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>When making food choices, do you consider their impact on your mood and your energy?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h7a" name="h7" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h7 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h7a" id="h7y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h7b" name="h7" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h7 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h7b" id="h7n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Are you true to your own values rather than compromise them?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h8a" name="h8" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h8 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h8a" id="h8y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h8b" name="h8" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h8 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h8b" id="h8n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Do you do at least enough exercise to feel you have
                        sufficient energy to tackle the responsibilities you face?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h9a" name="h9" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h9 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h9a" id="h9y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h9b" name="h9" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h9 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h9b" id="h9n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Do you consistently accept full responsibility
                        for all the outcomes in your life rather than make excuses for them or blaming others?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h10a" name="h10" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h10 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h10a" id="h10y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h10b" name="h10" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h10 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h10b" id="h10n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Are you able to adjust your leadership style based on the needs of the situation</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h11a" name="h11" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h11 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h11a" id="h11y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h11b" name="h11" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h11 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h11b" id="h11n">No</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>Do you want the results of this section to show up on the SWOT</label>
                    <div class="form-check-inline">
                        <input type="radio" id="h12a" name="h12" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @h12 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h12a" id="h12y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="h12b" name="h12" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @h12 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="h12b" id="h12n">No</label>
                    </div>
                </div>
                <!-- The privacy disclaimer -->
                <br>
                <div class="col-4">
                    <div class="container card bg-light rounded text-center">
                        <p><strong>Note:</strong> Information entered is protected by our
                            privacy policy. All answers are kept strictly confidential.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script src="js/JavaScript8.js"></script>
<script src="js/clientSideValidation.js"></script>
<include href="includes/footer.html"></include>
</body>
</html>




