<!--
  Chunhai Yang
  11/4/20
  JumpStart Team Project
  Questions for Section 6 Playbook analysis
  -->

<!doctype html>
<html lang="en">
<head>
    <title>Section 6</title>
    <require href="includes/check_login.php"></require>
    <include href="includes/header.html"></include>
</head>

<body onload="toggleVisibility()">
<include href="includes/navBar.html"></include>

<div class="container">
    <h1>Section 6: People</h1>
    <hr>

    <form action="#" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-10">
                <h3><strong>CURRENT SITUATION</strong></h3>
                <!-- First Q of Section 5 -->
                <div class="container">
                    <label>Do you have the right number of staff to deliver the
                        current level of work you are experiencing?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="f1a" name="f1" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @f1 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f1a" id="f1y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="f1b" name="f1" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @f1 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f1b" id="f1n">No</label>
                    </div>
                </div>
                <!-- If the above answer is No, then next Q -->
                <div class="container pl-20 formatHidden" id="f1hi">
                    <label for="f2" id="q6">Are you overstaffed or understaffed?</label>
                    <textarea class="form-control" id="f2" name="f2" rows="3">{{ @f2 }}</textarea>
                </div>
                <!-- Next Q of Section 6 -->
                <div class="container">
                    <label>What percentage of your team is operating at or above the skill and productivity
                        level you expect at their level of seniority and experience?</label>
                    <div class="form-check-inline">
                        <input class="form-control" type="text" name="f3t" id="f3t" value="{{ @f3t }}">
                    </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f3" name="f3">
                        <label class="form-check-label" for="f3">I don't know</label>
                    </div>
                </div>
                <!-- Next Q of Section 6-->
                <div class="container">
                    <label>We have an HR plan that shows the prioritized positions to fill and what conditions
                        must exist (sales, cash in bank, leads,  production load etc) before we fill them?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="f4a" name="f4" class="form-check-input" value="yes"
                               onchange="toggleVisibility()"
                        <check if="{{ @f4 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f4a" id="f4y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="f4b" name="f4" class="form-check-input" value="no"
                               onchange="toggleVisibility()"
                        <check if="{{ @f4 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f4b" id="f4n">No</label>
                    </div>
                </div>
            </div>
        </div>
        <h3><strong>Our Culture</strong></h3>
        <div class="form-group">
            <div class="container">
                <h4>I would describe our culture as:</h4>
                <label >High performing</label>
                <div class="form-check-inline">
                    <input type="radio" id="f5a" name="f5" class="form-check-input" value="yes"
                    <check if="{{ @f5 == 'yes' }}" >
                        checked="checked"
                    </check>>
                    <label class="form-check-label" for="f5a" id="f5y">Yes</label>
                </div>
                <div class="form-check-inline">
                    <input type="radio" id="f5b" name="f5" class="form-check-input" value="no"
                    <check if="{{ @f5 == 'no' }}" >
                        checked="checked"
                    </check>>
                    <label class="form-check-label" for="f5b" id="f5n">No</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <label >Accountable</label>
                <div class="form-check-inline">
                    <input type="radio" id="f6a" name="f6" class="form-check-input" value="yes"
                    <check if="{{ @f6 == 'yes' }}" >
                        checked="checked"
                    </check>>
                    <label class="form-check-label" for="f6a" id="f6y">Yes</label>
                </div>
                <div class="form-check-inline">
                    <input type="radio" id="f6b" name="f6" class="form-check-input" value="no"
                    <check if="{{ @f6 == 'no' }}" >
                        checked="checked"
                    </check>>
                    <label class="form-check-label" for="f6b" id="f6n">No</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <label >A positive place to work</label>
                <div class="form-check-inline">
                    <input type="radio" id="f7a" name="f7" class="form-check-input" value="yes"
                    <check if="{{ @f7 == 'yes' }}" >
                        checked="checked"
                    </check>>
                    <label class="form-check-label" for="f7a" id="f7y">Yes</label>
                </div>
                <div class="form-check-inline">
                    <input type="radio" id="f7b" name="f7" class="form-check-input" value="no"
                    <check if="{{ @f7 == 'no' }}" >
                        checked="checked"
                    </check>>
                    <label class="form-check-label" for="f7b" id="f7n">No</label>
                </div>
            </div>
        </div>
        <h3><strong>RECRUITMENT</strong></h3>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>When you recruit, do you cast your net wide (ie. Reach as many candidates as
                possible rather than try to limit the number of people who might reply?)</label>
            <div class="form-check-inline">
                <input type="radio" id="f8a" name="f8" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f8 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f8a" id="f8y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f8b" name="f8" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f8 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f8b" id="f8n">No</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f8c" name="f8" class="form-check-input" value="N/A"
                       onchange="toggleVisibility()"
                <check if="{{ @f8 == 'N/A' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f8c" id="f8na">N/A</label>
            </div>
        </div>
        <div class="formatHidden" id="f8hi">
            <div class="form-group">
                <div class="container">
                    <label >Do you use a technique to screen out candidates or have
                        them screen themselves out so you or your team don't have to review every CV?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="f9a" name="f9" class="form-check-input" value="yes"
                        <check if="{{ @f9 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f9a" id="f9y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="f9b" name="f9" class="form-check-input" value="no"
                        <check if="{{ @f9 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f9b" id="f9n">No</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Before you recruit: Do you clearly outline for yourself and them
                the job, its function, the impact it is to have and what success in the role looks like?</label>
            <div class="form-check-inline">
                <input type="radio" id="f10a" name="f10" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f10 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f10a" id="f10y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f10b" name="f10" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f10 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f10b" id="f10n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you clearly outline the skills and experience you require?</label>
            <div class="form-check-inline">
                <input type="radio" id="f11a" name="f11" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f11 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f11a" id="f11y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f11b" name="f11" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f11 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f11b" id="f11n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you clarify the personal characteristics that you believe are necessary
                to succeed in the role, to fit with the culture and fit with their immediate team?</label>
            <div class="form-check-inline">
                <input type="radio" id="f12a" name="f12" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f12 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f12a" id="f12y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f12b" name="f12" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f12 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f12b" id="f12n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you do short phone calls before a full interview to screen out and save time?</label>
            <div class="form-check-inline">
                <input type="radio" id="f13a" name="f13" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f13 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f13a" id="f13y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f13b" name="f13" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f13 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f13b" id="f13n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you use behavioral interviewing techniques?</label>
            <div class="form-check-inline">
                <input type="radio" id="f14a" name="f14" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f14 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f14a" id="f14y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f14b" name="f14" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f14 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f14b" id="f14n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Are you honest and candid about the job, the environment & culture?</label>
            <div class="form-check-inline">
                <input type="radio" id="f15a" name="f15" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f15 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f15a" id="f15y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f15b" name="f15" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f15 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f15b" id="f15n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you have multiple interviews?</label>
            <div class="form-check-inline">
                <input type="radio" id="f16a" name="f16" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f16 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f16a" id="f16y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f16b" name="f16" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f16 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f16b" id="f16n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you involve your team, especially those they will work with, in the interview process?</label>
            <div class="form-check-inline">
                <input type="radio" id="f17a" name="f17" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f17 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f17a" id="f17y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f17b" name="f17" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f17 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f17b" id="f17n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you use validated assessment tools to give insights into the person's
                potential and to identify issues you might otherwise miss?</label>
            <div class="form-check-inline">
                <input type="radio" id="f18a" name="f18" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f18 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f18a" id="f18y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f18b" name="f18" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f18 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f18b" id="f18n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you use employment agreements drafted or approved by a competent lawyer?</label>
            <div class="form-check-inline">
                <input type="radio" id="f19a" name="f19" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f19 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f19a" id="f19y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f19b" name="f19" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f19 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f19b" id="f19n">No</label>
            </div>
        </div>
        <h3><strong>INDUCTION</strong></h3>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you have a documented process of induction or onboarding
                of new team members after you've recruited them?</label>
            <div class="form-check-inline">
                <input type="radio" id="f20a" name="f20" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f20 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f20a" id="f20y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f20b" name="f20" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f20 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f20b" id="f20n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do  you order all materials they need (business
                cards, uniforms, equipment etc) before they arrive?</label>
            <div class="form-check-inline">
                <input type="radio" id="f21a" name="f21" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f21 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f21a" id="f21y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f21b" name="f21" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f21 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f21b" id="f21n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you send them an "introduction" or summary of
                the team they will be working with before they arrive?</label>
            <div class="form-check-inline">
                <input type="radio" id="f22a" name="f22" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f22 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f22a" id="f22y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f22b" name="f22" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f22 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f22b" id="f22n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you provide a structured orientation when they arrive,
                delivered by someone knowledgeable enough to answer their questions?</label>
            <div class="form-check-inline">
                <input type="radio" id="f23a" name="f23" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f23 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f23a" id="f23y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f23b" name="f23" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f23 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f23b" id="f23n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you have scheduled check ins over their first month
                or 2 to give them an opportunity to ask questions and seek feedback?</label>
            <div class="form-check-inline">
                <input type="radio" id="f24a" name="f24" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f24 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f24a" id="f24y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f24b" name="f24" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f24 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f24b" id="f24n">No</label>
            </div>
        </div>
        <h3><strong>TRAINING</strong></h3>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you have a system or systems for training new team members
                so they get up to speed as fast as possible?</label>
            <div class="form-check-inline">
                <input type="radio" id="f25a" name="f25" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f25 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f25a" id="f25y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f25b" name="f25" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f25 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f25b" id="f25n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you provide training when people are promotied
                or moved to new positions so they become productive as fast as possible?</label>
            <div class="form-check-inline">
                <input type="radio" id="f26a" name="f26" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f26 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f26a" id="f26y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f26b" name="f26" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f26 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f26b" id="f26n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you create professional or career development plans to help your
                people identify the skills they need to develop to succeed or advance?</label>
            <div class="form-check-inline">
                <input type="radio" id="f27a" name="f27" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f27 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f27a" id="f27y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f27b" name="f27" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f27 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f27b" id="f27n">No</label>
            </div>
        </div>
        <!-- It the above answer is Yes, then next Q-->
        <div class="formatHidden" id="f27hi">
            <div class="form-group">
                <div class="container">
                    <label >Do you refer to those plans and ensure that
                        your people are taking the steps outlined on the plan?</label>
                    <div class="form-check-inline">
                        <input type="radio" id="f28a" name="f28" class="form-check-input" value="yes"
                        <check if="{{ @f28 == 'yes' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f28a" id="f28y">Yes</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="f28b" name="f28" class="form-check-input" value="no"
                        <check if="{{ @f28 == 'no' }}" >
                            checked="checked"
                        </check>>
                        <label class="form-check-label" for="f28b" id="f28n">No</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Next Q of Section 6-->
        <div class="container">
            <label>Do you offer budgets, time or other encouragement
                for people to pursue education/ training outside the organization?</label>
            <div class="form-check-inline">
                <input type="radio" id="f29a" name="f29" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f29 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f29a" id="f29y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f29b" name="f29" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f29 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f29b" id="f29n">No</label>
            </div>
        </div>
        <h3><strong>COMPENSATION</strong></h3>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Are your compensation packages competitive in your industry?</label>
            <div class="form-check-inline">
                <input type="radio" id="f30a" name="f30" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f30 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f30a" id="f30y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f30b" name="f30" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f30 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f30b" id="f30n">No</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f30c" name="f30" class="form-check-input" value="I don't know"
                       onchange="toggleVisibility()"
                <check if="{{ @f30 == 'unknown' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f30c" id="f30na">I don't know</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you include non-monetary benefits as well as monetary
                rewards in your compensation packages?</label>
            <div class="form-check-inline">
                <input type="radio" id="f31a" name="f31" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f31 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f31a" id="f31y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f31b" name="f31" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f31 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f31b" id="f31n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you include any incentives for individual performance to encourage certain behaviours?</label>
            <div class="form-check-inline">
                <input type="radio" id="f32a" name="f32" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f32 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f32a" id="f32y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f32b" name="f32" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f32 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f32b" id="f32n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you include any incentives for team performance to encourage support of team goals?</label>
            <div class="form-check-inline">
                <input type="radio" id="f33a" name="f33" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f33 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f33a" id="f33y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f33b" name="f33" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f33 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f33b" id="f33n">No</label>
            </div>
        </div>
        <h3><strong>Performance Management</strong></h3>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you have clear criteria for what strong performance looks like for each positions?</label>
            <div class="form-check-inline">
                <input type="radio" id="f34a" name="f34" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f34 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f34a" id="f34y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f34b" name="f34" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f34 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f34b" id="f34n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you conduct performance conversations/reviews with staff?</label>
            <div class="form-check-inline">
                <input type="radio" id="f35a" name="f35" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f35 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f35a" id="f35y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f35b" name="f35" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f35 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f35b" id="f35n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you conduct performance conversations/reviews more than 1x/year</label>
            <div class="form-check-inline">
                <input type="radio" id="f36a" name="f36" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f36 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f36a" id="f36y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f36b" name="f36" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f36 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f36b" id="f36n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Does informal but detailed feedback happen throughout
                the year such that no one is surprised in a performance review?</label>
            <div class="form-check-inline">
                <input type="radio" id="f37a" name="f37" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f37 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f37a" id="f37y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f37b" name="f37" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f37 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f37b" id="f37n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>In the formal performance conversations, do team members
                receive or select clear goals for improvement?</label>
            <div class="form-check-inline">
                <input type="radio" id="f38a" name="f38" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f38 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f38a" id="f38y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f38b" name="f38" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f38 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f38b" id="f38n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Is it clear to everyone who reports to who?</label>
            <div class="form-check-inline">
                <input type="radio" id="f39a" name="f39" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f39 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f39a" id="f39y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f39b" name="f39" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f39 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f39b" id="f39n">No</label>
            </div>
        </div>
        <!-- Next Q of Section 6 -->
        <div class="container">
            <label>Do you hve foral or informal processes to ensure that
                everyone receives some form of recognition, praise, or thanks at least 1x/month?</label>
            <div class="form-check-inline">
                <input type="radio" id="f40a" name="f40" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f40 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f40a" id="f40y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f40b" name="f40" class="form-check-input" value="no"
                       onchange="toggleVisibility()"
                <check if="{{ @f40 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f40b" id="f40n">No</label>
            </div>
        </div>
        <h3><strong>Sub-contractors</strong></h3>
        <!-- Next Q-->
        <div class="container">
            <label>Do you use sub-contractors as well as staff?</label>
            <div class="form-check-inline">
                <input type="radio" id="f41a" name="f41" class="form-check-input" value="yes"
                       onchange="toggleVisibility()"
                <check if="{{ @f41 == 'yes' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f41a" id="f41y">Yes</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" id="f41b" name="f41" class="form-check-input" value="no"
                <check if="{{ @f41 == 'no' }}" >
                    checked="checked"
                </check>>
                <label class="form-check-label" for="f41b" id="f41n">No</label>
            </div>
        </div>
        <!-- If answer is Yes, answer next questions-->
        <div class="formatHidden" id="f41hi">
            <!-- Next Q: -->
            <div class="container pl-10">
                <div class="form-group">
                    <div class="container">
                        <label>Do you screen your subs for the same commitment to
                            quality(work, timeliness, communication) as you?</label>
                        <div class="form-check-inline">
                            <input type="radio" id="f42a" name="f42" class="form-check-input" value="yes"
                            <check if="{{ @f42 == 'yes' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f42a" id="f42y">Yes</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f42b" name="f42" class="form-check-input" value="no"
                            <check if="{{ @f42 == 'no' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f42b" id="f42n">No</label>
                        </div>
                    </div>
                </div>
                <!-- Next Q: -->
                <div class="form-group">
                    <div class="container">
                        <label>Do you evaluate their willingness/ ability to act
                            consistently with your brand when they deal with your
                            customers directly or indirectly?</label>
                        <div class="form-check-inline">
                            <input type="radio" id="f43a" name="f43" class="form-check-input" value="yes"
                            <check if="{{ @f43 == 'yes' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f43a" id="f43y">Yes</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f43b" name="f43" class="form-check-input" value="no"
                            <check if="{{ @f43 == 'no' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f43b" id="f43n">No</label>
                        </div>
                    </div>
                </div>
                <!-- Next Q: -->
                <div class="form-group">
                    <div class="container">
                        <label>Do you evaluate whether they share the
                            values of your company so as to ensure they are a fit?</label>
                        <div class="form-check-inline">
                            <input type="radio" id="f44a" name="f44" class="form-check-input" value="yes"
                            <check if="{{ @f44 == 'yes' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f44a" id="f44y">Yes</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f44b" name="f44" class="form-check-input" value="no"
                            <check if="{{ @f44 == 'no' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f44b" id="f44n">No</label>
                        </div>
                    </div>
                </div>
                <!-- Next Q: -->
                <div class="form-group">
                    <div class="container">
                        <label>Do you have an "A-list" of subs and a B-team? i.e.
                            an A-list of subs who get priority and a B-list who get
                            some work and are there in case some subs take us for granted.</label>
                        <div class="form-check-inline">
                            <input type="radio" id="f45a" name="f45" class="form-check-input" value="yes"
                            <check if="{{ @f45 == 'yes' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f45a" id="f45y">Yes</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f45b" name="f45" class="form-check-input" value="no"
                            <check if="{{ @f45 == 'no' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f45b" id="f45n">No</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f45c" name="f45" class="form-check-input" value="N/A"
                            <check if="{{ @f45 == 'N/A' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f45c" id="f45na">N/A</label>
                        </div>
                    </div>
                </div>
                <!-- Next Q: -->
                <div class="form-group">
                    <div class="container">
                        <label>Do you have a plan for when it becomes
                            economical/ wise to bring skills in house rather than sub out?</label>
                        <div class="form-check-inline">
                            <input type="radio" id="f46a" name="f46" class="form-check-input" value="yes"
                            <check if="{{ @f46 == 'yes' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f46a" id="f46y">Yes</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f46b" name="f46" class="form-check-input" value="no"
                            <check if="{{ @f46 == 'no' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f46b" id="f46n">No</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" id="f46c" name="f46" class="form-check-input" value="N/A"
                            <check if="{{ @f46 == 'N/A' }}" >
                                checked="checked"
                            </check>>
                            <label class="form-check-label" for="f46c" id="f46na">N/A</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Additional Consideration -->
        <h3><strong>Additional Considerations:</strong></h3>
        <div class="container">
            <label>Are there any other processes or systems, or elements of them that we haven't covered
                that you consider Strengths or Weakness, or do you know of Opportunities to improve or
                of Threats not covered above?</label>
            <div class="form-group">
                <label for="f47a" >Strengths</label>
                <textarea class="form-control" id="f47a" name="f47a" rows="3">{{ @f47a }}</textarea>
            </div>
            <div class="form-group">
                <label for="f47b" >Weaknesses</label>
                <textarea class="form-control" id="f47b" name="f47b" rows="3">{{ @f47b }}</textarea>
            </div>
            <div class="form-group">
                <label for="f47c" >Opportunities</label>
                <textarea class="form-control" id="f47c" name="f47c" rows="3">{{ @f47c }}</textarea>
            </div>
            <div class="form-group">
                <label for="f47d" >Threats</label>
                <textarea class="form-control" id="f47d" name="f47d" rows="3">{{ @f47d }}</textarea>
            </div>
            <!-- The privacy disclaimer -->
            <br>
            <div class="col-4">
                <div class="container card bg-light rounded text-center">
                    <p><strong>Note:</strong> Information entered is protected by our
                        privacy policy. All answers are kept strictly confidential.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="js/JavaScript6.js"></script>
<script src="js/clientSideValidation.js"></script>
<include href="includes/footer.html"></include>
</body>
</html>

